@model IEnumerable<PostProject.Models.PostModel>
@{
    ViewBag.Title = "Post";
}

<h2>Post</h2>

@*<div class="bl-log">
    <div class="bl-inpt">
        <div class="bl-textLog">
            <span class="bl-text">Login</span>
        </div>
        <div class="bl-inptLog">
            <input type="text" size="9" id="Log"/>
        </div>
    </div>
    <div class="bl-inpt">
        <div class="bl-textLog">
            <span class="bl-text">Password</span>
        </div>
        <div class="bl-inptLog">
            <input type="text" size="9" id="Pass"/>
        </div>
    </div>
    <div class="bl-inpt">
        <button class="button" id="LogIn">Увійти</button>
    </div>
</div>*@

    <div class="massageBlock">
        <div class="insideMassageBlock">
            <div class="inputBlock">
                <div class="Text">Title</div>
                <div class="Input">
                    <input type="text" id="Title">
                </div>
            </div>
            <div class="inputBlock">
                <div class="Text">Text</div>
                <div class="Input">
                    <textarea rows="6" cols="21" id="Description"></textarea>
                </div>
            </div>
            <div class="inputBlock">
                <button id="submit" type="button">Send Post</button>
            </div>
        </div>
    </div>
<div id="result"></div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#submit').click(function () {
            var title = $("#Title").val();
            var description = $("#Description").val();
            $.ajax({
                url: '@Url.Action("SentPost","Home")',
                type: "POST",
                data: { Title: title, Description: description },
                dataType: "html",
                success: function (data) {
                    $("#result").html(data);

                }
            });

        });
        $.ajax({
            url: '@Url.Action("ShowUserPosts", "Home")',
            type: "POST",
            dataType: "html",
            success: function (data) {
                $("#result").html(data);
            }

        });

        @*var ShowUserPosts = function () {
            $.ajax({
                url: '@Url.Action("ShowUserPosts","Home")',
                type: "POST",
                data: {UserId},
                dataType: "html",

            });
        }
    });*@

    });
</script>